@model List<Shopping_Cart.Models.brand>
@{
    ViewBag.Title = "ListBrand";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}
<br />


<center><h2>ListBrand</h2></center>
<br />
<br />

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td><a href="@Url.Action("DeleteBrand","Admin",new { id=item.Id})" class="btn btn-danger"><i class="fas fa-trash"></i></a>|<a href="@Url.Action("EditBrand","Admin",new { id=@item.Id})" class="btn btn-info"><i class="fas fa-edit"></i></a></td>
        </tr>
    }
</table>